extends layout

block content
  include menu.pug

  div(class='row m-3')
  div(class='row row-no-padding')
    div(class='col-xs-3 col-md-4 col-no-padding')
    div(class='col-xs-6 col-md-4 col-no-padding')
      div(class='content_area')
        h1 Edit Profile
        p=alert
        // register form
        form(method='POST' action='/users/edit')
          div.form-group
            label(for='user_name') Username:
            input#userName.form-control(type='text', placeholder='Username' name='user_name' value=info.user_name required)
          div.form-group
            label(for='first_name') First Name:
            input#name.form-control(type='text', placeholder='First Name' name='first_name' value=info.first_name required)
          div.form-group
            label(for='last_name') Last Name:
            input#name.form-control(type='text', placeholder='Last Name' name='last_name' value=info.last_name required)
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email' value=info.email required)
          div.form-group
            label(for='pw') New Password: (Must contain at least 8 characters and 1 number)
            input#pw.form-control(type='password' placeholder='Password' name='password' required)
          div.form-group
            label(for='pw2') Confirm New Password:
            input#pw2.form-control(type='password' name='confirm_password' required)
          div.form-group
            label(for='security_answer') In what city did you first try pizza?:
            input#name.form-control(type='text', placeholder='Security Answer' name='security_answer' required)
                      div.form-group
            label(for='pw') New Password: (Must contain at least 8 characters and 1 number)
            input#pw.form-control(type='password' placeholder='Password' name='password' required)
         div.form-group
            label(for='security_answer') Current Password:
            input#name.form-control(type='text', placeholder='Security Answer' name='security_answer' required)
          button(class='btn btn-success' type='submit') Sign up

          

      div(class='col-xs-3 col-md-4 col-no-padding')